

.skillsBlock {
    min-height: 100vh;
    background-color: khaki;
    padding-top: 100px;
    padding-bottom: 100px;

}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.title {

}

@media (min-width: 500px) {
    .skills {

    }
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

