.skillsBlock {
    height: 100vh;
    background-color: khaki;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.title {

}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

