.project {
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid;
}


.imgContainer {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images-platform.99static.com//cU0qBaO133OuhkyLKG1l25ZX9As=/138x129:869x860/fit-in/590x590/99designs-contests-attachments/84/84068/attachment_84068886');
    background-size: cover;
    background-position: center;
}


.imgContainer a {
    background-color: cadetblue;
    padding: 5px 15px;
    outline: none;
    text-decoration: none;
    color: black;
}


.textContainer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
}

.name {
    background-color: peachpuff;
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid;
}

.description {
    background-color: gainsboro;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid;
}