.project {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;

    border: 1px solid;

}


.imgContainer {
    position: relative;
    display: flex;

}

.imgContainer img {
    width: 100%;
    height: auto;
}

.imgContainer .button:hover {
    background-color: black;
}

.button {
    position: absolute;
    top: 90%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 12px;
    padding: 12px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.textContainer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
}

.name {
    background-color: peachpuff;
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid;
}

.description {
    background-color: gainsboro;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid;
}